body {
    font-size: 17px;
    font-family: fertigo,lato,Vollkorn,Ubuntu,sans-serif !important;
    color: #222;
    margin-top: 0;
    margin-bottom: 0;
    background-color : #fff;
        font-weight: 300;
    /*background-image : url('background/footer_lodyas/footer_lodyas.png');*/
}

.authors {
    font-size: 16px;
}

a {
    color: #4b738e;
    text-decoration: none;
}

a:hover {
    color: #324c5f;
}

a.todo:hover {
    color: #AA1111;
}

p {
    line-height: 1.25em;
}

.paper {
    margin-bottom: 1em;
    padding: 0px;
}

.img-circle {
    border-radius: 50%;
}

#main {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  /*  background-color: #ECECEA; */
    /*ackground-image : url('background/shattered/shattered.png'); */
    background-color: #fff
    text-align: justify;
}

#photo {
    height: 160px;
    float: left;
    background-color: #fff;
}

#contact {
    margin-left: 0px;
    margin-top: 8px;
    /*margin-bottom: 60px;*/
}

#social-link {
    margin-top: 8px;
    /*margin-bottom: 60px;*/
}

#email {
    margin-top: 15px;
    font-family: Ubuntu;
    /*font-variant: small-caps;*/
    font-size: 14px;
}

h1 {
    /*font-variant: small-caps;*/
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    color: #253947;
    font-family: "lato";
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #4b738e;
    border: none;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
}

h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    border: none;
    font-size: 1.3em;
    font-weight: bold;
    text-align: left;
}

#page-head {
    padding-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;
}



img {
    max-width:130%;
    max-height:130%;
    /*border: 1px solid;*/
}

.research_list ul {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 30px;
}

.research_list ul li {
    margin-bottom: 20px;
    max-width: 700px;
}

.research_list .content {
    font-weight: 300;
}

.research_list .title {
    font-weight: 500;
}

.research_list .tagcell {
    width: 40px;
    vertical-align: top;
}

.research_list .tag {
    font-weight: 400;
    text-align: center;
    color: white;
    padding: 5px;
    font-size: 12px;
    font-weight: 400;
    width: 30px;
    height: 22px;
    line-height: 12px;
    box-shadow: 1px 1px 4px #DADADA;
    /*-moz-box-shadow: 1px 1px 4px #DADADA;*/
    /*-webkit-box-shadow: 1px 1px 4px #DADADA;*/
    border-radius: 3px;
    /*-webkit-border-radius: 3px;*/
    -moz-border-radius: 3px;
}

.research_list .conference {
    background-color: #F3B602;
}

.research_list .journal {
    background-color: #e6233d;
}

.research_list .manuscript {
    background-color: #B90B4B;

}

.research_list .thesis {
    background-color: #ffd700;

}

.research_list .preprint {
    background-color: #008001;
}

.section-heading {
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 20px;
    padding-top: 0px;
    border-bottom: solid 1px #ccc;
}

.section-heading h2 {
    display: inline;
    color: #4b738e;
    font-size: 1em;
}

.title {
    font-weight: bold;
    color: #222;
}

.in span {
    font-style: italic;
}

.links {
}

.course {
    margin-bottom: 0.5em;
}

p {
    text-align: justify;
}
